# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.env
.env.*
!.env.example
.env.example
.env.local
venv/
.venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Secrets
*.env
# Firebase / GCP service account JSON
*-firebase-adminsdk-*.json
firebase-service-account.json

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# PyCharm
*.iml

# Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations
# */migrations/*
# !*/migrations/__init__.py

# Node
node_modules/
dist/
build/

# Logs
*.log

# Temporary files
*.swp
*.swo
API-documentation.md
ERD-ngumpulyuk.md
ERD-visual-ngumpulyuk.md